@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../../**/*.templ";
@source "../js/**/*.js";

@theme {
  --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', "Liberation Mono", "Courier New", 'monospace';
  
  --color-gray-850: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));